/* src/styles.css */

* {
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url("/public/bg.jpg");
    background-position: center; 
    background-size: cover;
  }
  
  header {
    background-color: #eff0f1;
    color: #c382a9;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 80px;
    padding: 0 60px;
    border-bottom: 4px solid #dcc8dd;
    font-size: 1.8rem;
    font-weight: bold;
    background-image: url("/public/cir.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 10px;
    background-position-y: 10px;
  }

  header p {
    font-size: 1rem;
    font-weight: 400;
    padding-top: 30px;
    padding-left: 20px;
  }
  
  main {
    margin-top: 15vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Centra verticalmente la cámara junto al chat */
    padding: 20px;
    gap: 20px;
  }
  
  .webcam-box,
  .chat-box {
    flex-basis: calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
  
  .chat-container {
    flex-basis: calc(50% - 10px);
    max-width: calc(50% - 10px);
  }

  .chat-box {

    background-color: white;
    height: 60vh;
    border: 2px dashed #d663a8;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    /*background-color: white;
    height: 60vh;
    border: 2px dashed #d663a8;  Borde punteado rosado
    border-radius: 10px;  Bordes redondeados 
    overflow: hidden;  Esconde contenido fuera de los bordes redondeados 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra paralela 
    border-style: dashed;  Agrega borde punteado 
    border-width: 2px;  Grosor del borde */
  }
  
  .webcam-box {
    border: 2px solid #d663a8; /* Borde rosado */
    border-radius: 50px; /* Bordes redondeados */
    overflow: hidden; /* Esconde contenido fuera de los bordes redondeados */
  }
  
  .video-container {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
  }
  
  .webcam-box video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el video para que ocupe todo el espacio */
  }

  .user-profile-picture {
    position: absolute;
    top: 50%;
    right: -70px; /* Posiciona la imagen a la derecha de la burbuja */
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    transform: translateY(-50%); /* Centra verticalmente la imagen */
  }
  
  
  .webcam-box video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .messages {
    height: calc(60vh - 44px); /* Ajusta la altura para que se ajuste a la altura del chat-box menos la altura del input */
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    position: relative;
    padding: 20px 30px;
    margin-bottom: 5px;
    border-radius: 25px;
    max-width: 60%;
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    word-wrap: break-word;
  }
  
  .message.sent {
    align-self: flex-end;
    background-color: #e0e0e0;
    color: #b9478b;
    margin-right: 80px; /* Aumenta el margen derecho */
  }
  
  .message.received {
    align-self: flex-start;
    background-color: #e9e9e9;
    color: #676767;
  }
  
  .input-area {
    display: flex;
    background-color: white;
    border-top: 2px dashed #d663a8;
    align-items: center; /* Asegura que los elementos estén alineados verticalmente */
  }
  
  input {
    flex: 1;
    padding: 10px;
    margin: 5px;
    border: none;
    outline: none;
    font-size: 1.2rem; /* Ajusta el tamaño de la fuente */
    border-radius: 10px; /* Agrega bordes redondeados al input */
  }
  
  button {
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: #d663a8; /* Ajusta el color de fondo del botón */
    color: white;
    cursor: pointer;
    font-size: 1.2rem; /* Ajusta el tamaño de la fuente */
    border-radius: 10px; /* Agrega bordes redondeados al botón */
  }
  
  button:hover {
    background-color: #b9478b;
  }

  .lett {
    position: absolute;
    top: 22%;
    left: 25%;
    transform: translateX(-50%);
    font-size: 1.2rem;
    font-weight: 400;
    color: #d663a8;
    font-style: italic;
  }
  
  @media (max-width: 768px) {
    .lett {
      top: 18%; /* Ajusta la posición vertical del texto para pantallas pequeñas */
      left: 20%;
      font-size: 1rem; /* Ajusta el tamaño de la fuente para pantallas pequeñas */
    }
  }
  
  @media (max-width: 480px) {
    .lett {
      top: 15%; /* Ajusta la posición vertical del texto para pantallas aún más pequeñas */
      left: 15%;
      font-size: 0.8rem; /* Ajusta el tamaño de la fuente para pantallas aún más pequeñas */
    }
  }
  
  
  @media (max-width: 767px) {
    main {
      flex-direction: column;
      align-items: stretch;
    }
  
    .webcam-box,
    .chat-box {
      flex-basis: 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }
  
    .webcam-box:last-child,
    .chat-box:last-child {
      margin-bottom: 0;
    }
  }
  